body {
    background-color: #eee;
}

button {
    height: 50px;
    width: 310px;
    margin-left: 500px;
    margin-top: 300px;
    box-shadow: 5px 5px 10px #777,-10px -10px 15px #fff, 0 0 0 #999 inset,0 0 0 #fff inset;
    outline: none;
    border: none;
    transition: 0.5s ease all;
}

button:hover {
    box-shadow: 0 0 0 #777,0 0 0 #fff, 2px 2px 10px #999 inset,-10px -10px 30px #fff inset;
    transition: 0.5s ease all;
}

